.header {
  position: fixed;
  min-height: @header-small-height;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: @black;

  @media (min-width: @desktop-width) {
    min-height: @header-large-height;
  }
}

.header__container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  z-index: 1;

  // @media (min-width: @desktop-width) {
  //   padding: 0 40px;
  // }
}

.header__logo-wrapper{
  display: flex;

  // @media (min-width: @desktop-width) {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-right: 21px;
  // }
}

.header__logo {
  display: block;
  box-sizing: border-box;
  line-height: 0;
  color: @white;
  padding: 25px 22px;

  // @media (min-width: @desktop-width) {
  //   margin-right: 20px;
  // }
}

.header__title {
  display: none;

  // @media (min-width: @desktop-width) {
  //   display: block;
  //   font-family: "SF-UI-Display", "Arial", sans-serif;
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 24px;
  //   line-height: 29px;
  //   min-width: 126px;
  // }
}

.header__nav {
  display: flex;
}

.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  // @media (min-width: @desktop-width) {
  //   display: flex;
  //   flex-direction: row;
  // }
}


.header__nav-link {
  display: flex;
  align-items: center;
  font-family: "SF-UI-Display", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: @white;
  text-decoration: none;
  padding: 25px 22px;

  // @media (min-width: @desktop-width) {
  //   margin-right: 20px;
  // }
}

.header__nav-title {
  display: none;
}
