.modal-item-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: @white;
  padding: 120px 22px 80px;
}

.modal-item-full--hide {
  display: none;
}

.modal-item-full__image-section {
  margin-bottom: 50px;
}
